In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.width', None)

In [2]:
df = pd.read_csv('../../data/survey_results_public.csv')
schema_df = pd.read_csv('../../data/survey_results_schema.csv')

In [79]:
schema_df.head()

,qid,qname,question,force_resp,type,selector
0,QID16,S0,"<div><span style=""font-size:19px;""><strong>Hel...",False,DB,TB
1,QID12,MetaInfo,Browser Meta Info,False,Meta,Browser
2,QID1,S1,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
3,QID2,MainBranch,Which of the following options best describes ...,True,MC,SAVR
4,QID296,Employment,Which of the following best describes your cur...,False,MC,MAVR

In [24]:
people ={
    "first":['Jorge','Elena','Amelia'],
    "lasta":['Rivero', 'Perez', 'Martinez'],
    "email":['jlrivero85@gmail.com','aida@gmail.com','aida@gmail.com']
}

In [28]:
df = pd.DataFrame(people)
# A data frame is just a container for multiple series objects

In [26]:
df

    first     lasta                 email
0   Jorge    Rivero  jlrivero85@gmail.com
1   Elena     Perez        aida@gmail.com
2  Amelia  Martinez        aida@gmail.com

In [29]:
#accessing columns
df[['lasta','email']] #pass a list of series

      lasta                 email
0    Rivero  jlrivero85@gmail.com
1     Perez        aida@gmail.com
2  Martinez        aida@gmail.com

In [30]:
df.columns

Index(['first', 'lasta', 'email'], dtype='object')

In [32]:
#accessing rows iloc (integer location) and loc
df.iloc[0]

'Jorge'

In [33]:
df.iloc[[0,1]]

   first   lasta                 email
0  Jorge  Rivero  jlrivero85@gmail.com
1  Elena   Perez        aida@gmail.com

In [34]:
df.iloc[[0,1]][['first','lasta']]

   first   lasta
0  Jorge  Rivero
1  Elena   Perez

In [37]:
df.iloc[[0,1], 2]

0    jlrivero85@gmail.com
1          aida@gmail.com
Name: email, dtype: object

In [44]:
df.loc[[0,1], ['email','first']]

                  email  first
0  jlrivero85@gmail.com  Jorge
1        aida@gmail.com  Elena

In [45]:
df = pd.read_csv('../../data/survey_results_public.csv')
schema_df = pd.read_csv('../../data/survey_results_schema.csv')

In [61]:
df.Ethnicity.value_counts()

European                                             14612
White                                                13633
White;European                                        8694
Indian                                                5240
Asian                                                 3346
                                                     ...
Indian;European;African;Multiracial                      1
Asian;East Asian;Southeast Asian;Pacific Islander        1
Middle Eastern;Asian;Multiracial;Biracial                1
Or, in your own words:;European;Asian                    1
White;European;North African;Hispanic or Latino/a        1
Name: Ethnicity, Length: 1055, dtype: int64

In [67]:
df.loc[[0,1,2],'Ethnicity']

0      NaN
1      NaN
2    White
Name: Ethnicity, dtype: object

In [78]:
df.loc[0:2,'Employment':'Country']

,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,YearsCode,YearsCodePro,DevType,OrgSize,PurchaseInfluence,BuyNewTool,Country
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"Employed, full-time",Fully remote,Hobby;Contribute to open-source projects,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Canada
2,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Programming Game...,NaN,14,5,Data scientist or machine learning specialist;...,20 to 99 employees,I have some influence,NaN,United Kingdom of Great Britain and Northern I...

In [80]:
df.columns

Index(['ResponseId', 'MainBranch', 'Employment', 'RemoteWork',
       'CodingActivities', 'EdLevel', 'LearnCode', 'LearnCodeOnline',
       'LearnCodeCoursesCert', 'YearsCode', 'YearsCodePro', 'DevType',
       'OrgSize', 'PurchaseInfluence', 'BuyNewTool', 'Country', 'Currency',
       'CompTotal', 'CompFreq', 'LanguageHaveWorkedWith',
       'LanguageWantToWorkWith', 'DatabaseHaveWorkedWith',
       'DatabaseWantToWorkWith', 'PlatformHaveWorkedWith',
       'PlatformWantToWorkWith', 'WebframeHaveWorkedWith',
       'WebframeWantToWorkWith', 'MiscTechHaveWorkedWith',
       'MiscTechWantToWorkWith', 'ToolsTechHaveWorkedWith',
       'ToolsTechWantToWorkWith', 'NEWCollabToolsHaveWorkedWith',
       'NEWCollabToolsWantToWorkWith', 'OpSysProfessional use',
       'OpSysPersonal use', 'VersionControlSystem', 'VCInteraction',
       'VCHostingPersonal use', 'VCHostingProfessional use',
       'OfficeStackAsyncHaveWorkedWith', 'OfficeStackAsyncWantToWorkWith',
       'OfficeStackSyncHaveWorkedWith', 'OfficeStackSyncWantToWorkWith',
       'Blockchain', 'NEWSOSites', 'SOVisitFreq', 'SOAccount', 'SOPartFreq',
       'SOComm', 'Age', 'Gender', 'Trans', 'Sexuality', 'Ethnicity',
       'Accessibility', 'MentalHealth', 'TBranch', 'ICorPM', 'WorkExp',
       'Knowledge_1', 'Knowledge_2', 'Knowledge_3', 'Knowledge_4',
       'Knowledge_5', 'Knowledge_6', 'Knowledge_7', 'Frequency_1',
       'Frequency_2', 'Frequency_3', 'TimeSearching', 'TimeAnswering',
       'Onboarding', 'ProfessionalTech', 'TrueFalse_1', 'TrueFalse_2',
       'TrueFalse_3', 'SurveyLength', 'SurveyEase', 'ConvertedCompYearly'],
      dtype='object')